body{
	margin: 0px;
	padding: 0px;
	text-decoration: ostrich-sans;
}

/* Text Styles */

@font-face {
   font-family: ostrich-sans; 
   src: url('ostrich-sans/OstrichSansRounded-Medium.otf');
} 

@font-face {
   font-family: ostrich-sansblack; 
   src: url('ostrich-sans/OstrichSans-Black.otf');
} 

@font-face {
   font-family: amatic; 
   src: url('amatic/Amatic-Bold.ttf');
} 

h1 {
	font-family: amatic;
	font-size: 55px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26.4px;
}
h3 {
	font-family: ostrich-sansblack;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: ostrich-sans;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
}

label {
	font-family: ostrich-sans;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 20px;
}
blockquote {
	font-family: ostrich-sans;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: ostrich-sans;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

@media (max-width: 720px){
    h1 {
        font-size: 20px;
    }
    #myname { font-size: 50px; }
    p {
    	font-size: 18px;
    }
}

@media (max-width: 640px){
    h1 {
        font-size: 20px;
    }
    #myname { font-size: 40px; }
    p {
    	font-size: 16px;
    }
}

@media (max-width: 320px){
    h1 {
        font-size: 20px;
    }
    #myname { font-size: 40px; }
    p {
    	font-size: 14px;
    }
}

@media (max-height: 650px){
    h1 {
        font-size: 20px;
    }
    #myname { font-size: 50px; }
    p {
    	font-size: 18px;
    }
}

@media (max-height: 560px){
    h1 {
        font-size: 20px;
    }
    #myname { font-size: 50px; }
    p {
    	font-size: 14px;
    }
}

/* misc */

nav {
	z-index: 20;
}

div.container {
	margin-top: 50px;
	z-index: 10;
}

div.sections h1 {
	margin: 0;
    background: none;
    color:white;

    z-index:10;
}

div.sections p {
	margin: 0;
    background: none;
    color: white;
}

/* Navbar */

.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
}

.navbar-inner, .navbar .btn-navbar {
background-color: transparent;
color: white;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border:none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
outline: 0;
background-color: transparent;
color: #4D94FF;

}

.navbar .nav > li > a {
outline: 0;
font-family: ostrich-sans;
font-size: 20px;
background-color: transparent;
color: #4D94FF;

}

.navbar .nav > li > a:hover {
background-color: transparent;
color: #545151;

}

.active {
outline: 0;
color: #4D94FF;
border-bottom: 3px solid #4D94FF;
}

@media (max-width: 767px){
	.navbar .nav > li > a {
		border-bottom: none;
	}
}

@media (max-width: 767px) {
    .navbar-transparent {
    	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    
        -webkit-box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.22);
		-moz-box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.22);
		box-shadow: 1px 3px 10px 1px rgba(0,0,0,0.22);
    }
    .navbar-transparent div div button {
    	background: transparent !important;
    }
    .icon-bar {
    	background:#4D94FF;
    }
    .active{
    	border-bottom: 2px dotted #4D94FF;
    }
}

/* resize header */

.goToTop {
	  position: fixed;
	  top: 0;
	  height: 70px;
	  z-index: 1;
	}

/* Window sections */

.sections {
	width: 100%;
	height: 100vh;
	min-height: 640px;
	z-index: 2;
}

#one {
	background-color: #D9D9D9;
}

#two {
	background-color: white;
}

#three {
	background-image: url(IMG/bergendier.jpg);
	
	-webkit-background-size: 100% 100vh;
 -moz-background-size: 100% 100vh;
 -o-background-size: 100% 100vh;
 background-size: 100% 100vh;
	background-attachment: fixed !important;
	-webkit-box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	background-color: #D9D9D9;
}

#four {
	background-color: white;
}

@media only screen and (max-device-width: 480px) {
	#three { background-image: none !important; background-color: #545151 !important; }
	.jumbotron { background-image: none !important; background-color: #545151 !important; }
}

/* Jumbotron */

.jumbotron {
	background-image: url(IMG/bergen.jpg);
	
	-webkit-background-size: 100% 100vh;
 -moz-background-size: 100% 100vh;
 -o-background-size: 100% 100vh;
 background-size: 100% 100vh;
	background-attachment: fixed !important;
	-webkit-box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	box-shadow: inset 0px -2px 10px 1px rgba(0,0,0,0.4);
	background-color: #D9D9D9;

}

#box1 {
    text-align: center;
    padding-top: 75px;
}

#box1 p {
	padding-top: 50px;
}

#cons {
	color: white;
	position: absolute;
	margin-top: 90vh;
}


@media (max-height: 650px){
	#cons {

	}
}


/* section 2 */

#profileimage {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#box2 {
    text-align: center;
    padding-top: 150px;
}

#box2 h1 {
	color: #545151;
	padding-top: 30px;
}

#box2 p {
	color: #545151;
	padding-top: 40px;
}

/* project page */

.paddingclass {
	padding-top: 80px;
	padding-bottom: 30px;
	padding-right: 40px;
	padding-left: 40px;
}

@media (max-width: 767px) {
	.paddingclass {
	padding-top: 10px;
	padding-bottom: 10px;
	}
}

.imageclass {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #545151;
    opacity: 0.7;
}

@media (max-width: 1000px) {
	.imageclass {
		width: 70px;
		height: 70px;
	}
}

/* contact page */

.formclass {
	margin-top: 50px;
}

.form-group {
	font-family: ostrich-sans;
}

.headerclass {
	margin-top: 70px;
	text-align: center;
}

.btn-primary {
	font-family: ostrich-sansblack;
	width: 150px;
	border-radius: 30px;
	background-color: #4D94FF;
	border-color: #4D94FF;
}

#box4 {
	padding-left: 120px;
	padding-right: 120px;
}

@media (max-width: 500px){
    #box4 {
    	padding-left: 30px;
    	padding-right: 30px;
    }
}

/* carousel */

#box3 {
padding: none;
margin: none;
}

.carouselbtn {
	width: 150px;
	border-radius: 30px;
	background-color: #4D94FF;
	border-color: #4D94FF;
}

.carouselbtn:hover {
	background-color: #545151;
	border-color: #545151;
}

.fullpagecar {
	width: 100%;
	height: 100vh;
	min-height: 640px;
}

.borderaway {
	border-bottom: none;
}

.carouselinside {
	top: 30vh;
	bottom: 70vh;
}

.main-container {
  padding: 10px 15px;
}

.carousel-indicators {
    bottom: 100px;
}

@media (max-width: 500px){
    .carousel-indicators{
    	top: 0px;
    }
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel .item {
    height: 100vh;
    min-height: 640px;
    width:100%; 
}
.carousel .icon-container,
.carousel-caption button {
	font-family:ostrich-sansblack;
    background-color: #4D94FF;
    border-color: #4D94FF;
}

.carouselbtn a {
	font-family:ostrich-sansblack;
	color: white;
}
.carousel-caption h1 {
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #4D94FF;
    margin-top: 1em; 
}

.carousel-caption button:focus {
    outline: 0 !important;
}

.carousel-caption h1:first-child {
    animation-delay: 1s;
}

.carousel-caption button {
    animation-delay: 1s;
}

.carousimage {
	position: relative;
	margin-top: 1px;
}

.carouselimg {
	padding-top: 10%;
}

/* Footer */

.navbar-fixed-bottom {
	position: fixed;
	 	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	border-top: none;
	-webkit-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.66);
-moz-box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.66);
box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.66);
}

#footerstuffs {
	position: absolute;
	color: #4D94FF;
	font-size: 15px;
}

.footers {
	margin-top: 5px !important;
}

.icoon {
	float: right;
	margin: 4px;
	margin-right: 10px;
	font-size: 30px;
	color: #4D94FF;
}

.icoon:hover {
	color: #545151;
}

#copyglyph {
	margin-right: 8px;
}

@media (max-width: 500px){
    .icoon {
    	font-size: 30px;
    }
    #footerstuffs {
    	font-size: 15px;
    }
    .navbar-fixed-bottom {
    	position: relative;
    }
}